{% extends "base.html" %} {% block content %} {% block head %}
<script src="{{ url_for('static',filename='js/yourcourse.js') }}"></script>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css"
/>
{% endblock %}
<h1 class="title">Welcome, {{ name }}!</h1>
<hr class="rounded" />
<div class="tableFixHead">
  <table id="course-table">
    <thead>
      <tr>
        <th>Course</th>
        <th>Professor</th>
        <th>Time</th>
        <th>Enrolled</th>
        <th></th>
      </tr>
    </thead>
    <tbody></tbody>
  </table>
</div>

{% endblock %}
